body {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}


/* Start Animation  */

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/* End Animation  */

.container {
  margin: 20px auto;

}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

.form {
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
}



.form .input {
  padding: 10px;
  flex: 1;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 20px;
}


.form .input:focus,
.add:focus {
  outline: none;
}

.form .add {
  padding: 11px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #86377b;
  color: white;
  font-size: 20px;
  font-weight:bold ;

}

@media (max-width: 768px) {
  .form {
    justify-content: space-around;
  }

  .form .add {
    font-size: 18px;
    padding: 11px;
  }
}

.tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  font-size: 20px;
}

.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}

.tasks .task:hover {
  background-color: #f7f7f7;
}

.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}

.tasks .task.done {
  opacity: 0.5;
}

.tasks .task span {
  font-weight: bold;
  font-size: 18px;
  background-color: #86377b;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .tasks .task span {
    font-size: 16px;
    padding: 3px 6px;
  }
}